.actual-content {
  height: 983px;
  width: 100%;
  /* border: 1px solid rebeccapurple; */
  padding: 24px 24px 278px 88px;
  display: flex;
}
.cour-direction {
  height: 40px;
  width: 100%;
  padding: 24px 0px 0px 88px;
  background: #fff;
}
.mycour-text {
  display: flex;
  align-items: center;
}
.img-arrr {
  display: flex;
  align-items: center;
}
.mycour-text :first-child {
  margin-right: 12px;
}
.flex-cour-lesson {
  display: flex;
}

.cour-content {
  width: 320px;
  height: 313px;
  border: 1px solid #ccc;
  background: #fff;
  /* border: 2px solid firebrick; */
  margin-right: 16px;
  padding: 24px 0px 0px 0px;
}
.video-content {
  width: 992px;
  height: 663px;
  border: 1px solid #ccc;
  background: #fff;
  padding: 24px 26px 24px 24px;
}
.cours-text {
  color: #000;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 25px;
  margin-bottom: 16px;
  padding: 0px 0px 0px 24px;
}
.lesson-text {
  color: #000;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px; /* 125% */
  display: inline-flex;
  align-items: center;
  cursor: pointer;
}
.cour-lesson {
  width: 318px;
  height: 56px;
  background: #f2f2f2;
  display: flex;
  padding: 12px 23px;
  /* cursor: pointer; */
}
.lesson-img {
  margin-right: 12px;
  cursor: pointer;
}

.video-text {
  color: var(--primary-black-000000, #000);
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 25px; /* 125% */
  margin-bottom: 16px;
}
.cour-sentance {
  color: var(--primary-black-000000, #000);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 20px; /* 125% */
  margin-bottom: 24px;
}
.video-img {
  width: 100%;
  height: 530px;
}
