@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
/* *************** Start Our Team **************** */
.sub-ourteam {
    width: 100%;
    height: 275px;
    /* border: 2px solid yellow; */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 64px;
    background-color: #F1F3F7;
    /* border: 2px solid red; */
}

.sec-1 h1 {
    font-family: 'Roboto';
    font-weight: 800;
    font-size: 75px;
    line-height: 75px;
    color: #052A44;
    margin-bottom: 16px;
}
.sec{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.para {
    
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: #052A44;
    width: 788px;
    height: 56px;
}

/* *************** End Our Team **************** */

/* ***************  Our Team Information start ****************  */
.team-info {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 375px;
}

.info {
    width: 596px;
    height: 403px;
    display: flex;
    /* border: 2px solid blue; */
    margin: 12px;
}

.info-img {
    margin: 24px;
}

.info-para {
    margin-top: 48px;
}

.info-heading {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #052A44;
    margin-bottom: 8px;
}

.info-sub-para {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    width: 256px;
    height: 196px;
    color: #052A44;
    margin-bottom: 16px;
}

.info-Name {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: #6255A5;
    margin-bottom: 8px;
}

.info-disignation {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #858C9B;
}


/* ***************  Our Team Information End ****************  */

/* ***************  Our Team join us Start ****************  */
.sec-join {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 112px;
}

.sub-sec-join {
    width: 1216px;
    height: 316px;
    background-color: #6255A5;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* margin-bottom: 112px; */
}

.sec-join-heading h1 {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 48px;
    line-height: 56px;
    color: #FFFFFF;
    margin-bottom: 16px;
}

.sec-join-para {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    width: 882px;
    height: 112px;
    color: #FFFFFF;
}
.sec-1{
    width: 100%;
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
}
/* ***************  Our Team join us End **************** */
